In [38]:
def tt(time,tot_trip):
    count,sum_trip =1,0
    
    while (sum_trip<tot_trip):
            sum_trip = (sum([count//t for t in time]))
            print(sum_trip)
            count +=1
            
    print("ans :",count-1)

In [53]:
tt([1,2,3],5)

1
3
5
ans : 3
Wall time: 0 ns

In [40]:
tt([2],1)

0
1
ans : 2

#### try 2

In [66]:
def tt2(time,tot_trip):
    count,sum_trip =min(time),0
    while (sum_trip<tot_trip):
            sum_trip = (sum([count//t for t in time]))
            print(sum_trip)
            count +=1
            
    print("ans :",count-1)

In [52]:
tt([1,2,3],5)

1
3
5
ans : 3
Wall time: 0 ns

In [43]:
tt([2],1)

1
ans : 2

In [44]:
sorted([3,7,1,8])

[1, 3, 7, 8]

#### try3

In [99]:
def tt3(time, totalTrips):
    stime =sorted(time)
    count,sum_trip =stime[0],0
    ite=0
    if stime[1]:
        ite=stime[1]-stime[0]
    while (sum_trip< totalTrips):
            #print("__",sum_trip,totalTrips)
            sum_trip = (sum([count//t for t in time]))
            print(sum_trip)
            count +=ite
            
            
    print("ans :",count-ite)

In [100]:
%%time
tt3([10,20,30],5)

1
3
5
ans : 30
Wall time: 0 ns

In [101]:
tt2([5,10,10],9)

1
1
1
1
1
4
4
4
4
4
5
5
5
5
5
8
8
8
8
8
9
ans : 25